.Main {
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    height: 100vh;
    .intro {
        width: 50vw;
        padding: 120px;
        p {     
        font-size: 50px;
        text-align: center;
        padding-bottom: 50px;
        }

      

        .button {
            float: right;
            border-radius: 10px;
            height: 50px;
            width: 200px;
            background-color: darkgreen;
            font-weight: bold;
            font-size: 20px;
           
        }
    }
    .picture{
        width: 50vw;
        padding: 60px;
        img {
            border-radius: 20px;
            width: 100%;
            
        }
    }
}